// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#project{
	.projects {
		ul, li{
			list-style-type: none;
		}
	}
	.project-screenshot-container{
		text-align: center;

		img{
			width: 250px;
			height: 250px;
		}
	}
	.screenshot{
		border-bottom: 1px dotted #444;
		margin: 10px 0;
		padding: 10px 0;
		&:first-child{
			border-top: 1px dotted #444;
		}
	}
	

	.container-icon{
		text-align: center;
	}
}