// Place all the styles related to the ProjectScreenshots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#screenshot{
	.screenshot-container{
		text-align: center;
		margin: 10px auto;
		img{
			max-width: 100px;
			max-height: 100px;
			overflow: hidden;
		}
	}
}